<div id="espacio-hero-footer">
  <div class="factura-container">
    <header class="factura-header">
      <h1>Macsa Group</h1>
    </header>

    <div class="factura-details">
      <h2>Detalles de la factura</h2>
      <div class="productos"></div>

      <div class="subtotal"> 
        <p><span>Subtotal:</span>  <span id="subtotal"></span></p>
      </div>
   
      <div class="impuesto">
        <p><span>ISV (15%):</span>  <span id="impuesto"></span></p>
      </div>

      <div class="total">
        <p><span>Total:</span>  <span id="total"></span></p>
      </div>
    </div>
    <div class="pago">
      <button id="pagarBtn">Pagar</button>
    </div>

    <div id="mensajePago" style="display: none; padding: 10px; background-color: green; color: white; text-align: center;">
      Pago recibido
    </div>

  </div>
</div>