<div class="faq-container">
  <h1>{{title}}</h1>
  <div class="faq-grid">
    {{#each faqs}}
    <div class="faq-card">
      <div class="faq-header">
        <span>{{this.question}}</span>
        <span class="toggle-icon">+</span> <!-- Ícono de expansión -->
      </div>
      <div class="faq-answer">{{this.answer}}</div>
    </div>
    {{/each}}
  </div>
</div>
