<!-- faq.hbs -->
<div class="faq-container">
  <h1>Preguntas Frecuentes</h1>
  <ul class="faq-list">
    {{#each faqs}}
    <li class="faq-item">
      <h2 class="faq-question">{{this.question}}</h2>
      <p class="faq-answer">{{this.answer}}</p>
    </li>
    {{/each}}
  </ul>
</div>
