<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img src="/imagenes/logo.jpg" alt="Camaronera Logo" class="footer__logo-img">
      <p class="footer__description">Produciendo camarones de la más alta calidad para el mundo.</p>
    </div>

    <div class="footer__links">
      <h4 class="footer__title">Enlaces</h4>
      <ul class="footer__list">
        <li><a href="/index.html" class="footer__link">Inicio</a></li>
        <li><a href="/blogs.html" class="footer__link">Blogs</a></li>
        <li><a href="/products.html" class="footer__link">Productos</a></li>
        <li><a href="/contact.html" class="footer__link">Contacto</a></li>
        <li><a href="/acercadenosotros.html" class="footer__link">Acerca De Nosotros</a></li>
      </ul>
    </div>

    <div class="footer__contact">
      <h4 class="footer__title">Contáctanos</h4>
      <p class="footer__text">Teléfono: +123 456 789</p>
      <p class="footer__text">Correo: info@camaronera.com</p>
      <p class="footer__text">Dirección: Calle Marítima #123, Ciudad Costera</p>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">© 2024 Camaronera. Todos los derechos reservados.</p>
  </div>
</footer>
