<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img src="/imagenes/logo.png" alt="Camaronera Logo" class="footer__logo-img">
      <p class="footer__description">Produciendo camarones de la más alta calidad para el mundo.</p>
    </div>

    <div class="footer__links">
      <h4 class="footer__title">Enlaces</h4>
      <ul class="footer__list">
        <li><a href="/index.html" class="footer__link" target="_blank">Inicio</a></li>
        <li><a href="/blogs.html" class="footer__link" target="_blank">Blogs</a></li>
        <li><a href="/products.html" class="footer__link" target="_blank">Productos</a></li>
        <li><a href="/contact.html" class="footer__link" target="_blank">Contacto</a></li>
        <li><a href="/acercadenosotros.html" class="footer__link" target="_blank">Acerca De Nosotros</a></li>

      </ul>
    </div>

    <div class="footer__contact">
      <h4 class="footer__title">Contáctanos</h4>
      <p class="footer__text">Teléfono: +504 9540-2046</p>
      <p class="footer__text">Correo: compras@macsahn.com</p>
      <p class="footer__text">Dirección: Caserio Agua Zarca, Aldea El Laure, San Lorenzo; Valle</p>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">© 2024 Macsa Group. Todos los derechos reservados.</p>
  </div>
</footer>