@import "./main.less"; 


.map-container {
  padding: 2rem 1rem;
  text-align: center;
  background-color: @color-text;  

  .map-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: @secondary-color;  
  }

  .map {
    max-width: 100%;
    margin: 0 auto;  
    border-radius: 8px; 

    iframe {
      width: 80%;  
      height: 500px;  
      border: 0;  
      border-radius: 8px;  
    }
  }
}
