@import "./main.less"; 

.productos {
  padding: 20px;
  background-color: @background-color;

  .productos__fondo {
    max-width: 1200px;
    margin: 0 auto;
  }

  .productos__contenedor {
    text-align: center;

    .productos__titulo {
      font-size: 2.5rem;
      color: @primary-color;
      margin-bottom: 20px;
    }

    .productos__tarjetas {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    .producto__tarjeta {
      background: linear-gradient(135deg, @color-background, @secondary-color);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease;
      width: 100%;
      max-width: 250px;
      flex-grow: 1;

      &:hover {
        transform: scale(1.05);
      }

      .producto__imagen-container {
        height: 200px;
        overflow: hidden;
      }

      .producto__imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .producto__detalles {
        padding: 15px;

        .producto__nombre {
          font-size: 1.5rem;
          color: #fff;
        }

        .producto__descripcion {
          font-size: 1rem;
          color: #fff;
        }

        .producto__precio {
          font-size: 1.2rem;
          color: #ffee00;
        }

        .producto__boton {
          display: inline-block;
          padding: 10px 15px;
          background: @color-accent;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: @breakResolutions[mobile]) {
  .productos__tarjetas {
    justify-content: flex-start;
  }

  .producto__tarjeta {
    width: 100%;
  }
}


@media (max-width: @breakResolutions[tablet]) {
  .productos__tarjetas {
    justify-content: center;
  }

  .producto__tarjeta {
    width: calc(50% - 20px);
  }
}


@media (min-width: 1025px) {
  .productos__tarjetas {
    justify-content: space-between;
  }

  .producto__tarjeta {
    width: calc(20% - 20px);
  }
}
