<!-- Agregar mapa en index.hbs -->
<section class="map-container">
  <h2 class="map-title">Nuestra Ubicación</h2>
  <div class="map">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15768.987236416818!2d-87.3556594!3d13.4229011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f701ba68daf1597%3A0x69cf191956c63364!2sGrupo%20MACSA!5e0!3m2!1ses-419!2shn!4v1697651495204!5m2!1ses-419!2shn" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy">
    </iframe>
  </div>
</section>
